#epoch-slider {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#heatmap-div {
    margin: auto;
    max-width: 800px;
}

#statplot {
    display: block;
    margin: auto;
}

#slider-output {
    margin-left: 30%;
    width: 40px;
}