#epoch-slider {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#play-button {
    display: block;
    margin: auto;
}

#heatmap-div {
    margin: auto;
    max-width: 1000px;
}

#avgplot {
    display: block;
    margin: auto;
}

#varplot {
    display: block;
    margin: auto;
}

#slider-output {
    margin-left: 30%;
    width: 40px;
}

#layer-selection {
    display: block;
    margin: auto;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

