#epoch-slider {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#play-button {
    display: block;
    margin: auto;
}

#heatmap-div {
    margin: auto;
    max-width: 1000px;
}

#avgplot {
    display: block;
    margin: auto;
}

#varplot {
    display: block;
    margin: auto;
}

#slider-output {
    margin-left: 30%;
    width: 40px;
}

#layer-selection {
    display: block;
    margin: auto;
}