<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Data Visualization</title>
    <meta name="description" content="Test">
    <meta name="author" content="vscherer">
    <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet" type="text/css">
</head>

{% include 'header.html' %}

<div id="heatmap-div"></div>

<input type="range" id="epoch-slider" min="0" max="19" value="0" onchange="set_epoch()">
<output for="epoch-slider" id="slider-output">0</output>

<select id="layer-selection" onchange="set_epoch()">
  <option value="dense_1">dense_1</option>
  <option value="dense_2">dense_2</option>
  <option value="dense_3">dense_3</option>
</select>

</body>

<script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}">
</script>
<script>

</script>
</html>


